<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <title>EasyBanking-Account</title>
</head>
<body>


<div class="topbar">
    <div class="logo">EasyBanking</div>
    <div id="logout">
        <label>Mrs.Zhou</label>

        <form action="./index.html">
            <input type="submit" class="barbtn" value="Log Out"/>
        </form>
    </div>
</div>

<div class="menubar">
    <div class="mainmenu">

        <ul>
            <li><a href="./account.html">Personal Bank Account</a></li>
            <li><a href="./transaction.html">Online Transaction</a></li>
        </ul>
    </div>
</div>

<div class="mainpart">

    <div class="banner">
        <h1>Welcome Mrs.Zhou!</h1>
    </div>


    <div class="widw">
        <div class="titbg"><span>Bank Account Overview</span></div>
        <pre>
             IBAN:  <span>12</span>
             IBAN:  <span></span>
             IBAN:  <span></span>
             IBAN:  <span></span>
        </pre>
    </div>
    <br>

    <div class="widw">
        <div class="titbg"><span>Transaction Overview</span></div>

        <pre>
        <b>CurrentBalance</b>         <span>xxx</span>
        <b>Date</b>                   <span>Amount</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>

        </pre>
        <form class="viewtrans"><input class="barbtn" type="submit" value="View/Export"/>
        </form>
    </div>
</div>


</body>
</html>