<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <title>EasyBanking-Account</title>
</head>
<body>


<div class="topbar">
    <div class="logo">EasyBanking</div>
    <div id="logout">
        <label>Employee Zhou</label>

        <form action="./index.html">
            <input type="submit" class="barbtn" value="Log Out"/>
        </form>
    </div>
</div>

<div class="menubar">
    <div class="mainmenu">

        <ul>
            <li><a href="./administration.html">Request Administration</a></li>
            <li><a href="./customerdb.html">Customer DB</a></li>
        </ul>
    </div>
</div>

<div class="mainpart">

    <div class="banner">
        <h1>Requests To Be Handled!</h1>
    </div>
    <div class="regireq">
        <div class="widw">
            <div class="titbg"><span>Registration Requests</span></div>

            <table>
                <tr>
                    <th>Registeration Date</th>
                    <th>Email</th>
                    <th>Approval</th>
                </tr>
                <tr>
                    <form>
                        <td>20.01.2015</td>
                        <td>222@gmail.com</td>
                        <td><input class="barbtn" type="submit" value="confirm"/></td>
                        <input type="hidden" name="email" value="">
                    </form>
                </tr>
                <tr>
                    <form>
                        <td>20.01.2015</td>
                        <td>222@gmail.com</td>
                        <td><input class="barbtn" type="submit" value="confirm"/></td>
                        <input type="hidden" name="email" value="">
                    </form>
                </tr>
                <tr>
                    <form>
                        <td>20.01.2015</td>
                        <td>222@gmail.com</td>
                        <td><input class="barbtn" type="submit" value="confirm"/></td>
                        <input type="hidden" name="email" value="">
                    </form>
                </tr>
            </table>
        </div>
    </div>
    <br>


    <div class="transreq">
        <div class="widw">
            <div class="titbg"><span>Transaction Requests</span></div>

            <table>
                <tr>
                    <th>Transaction Date</th>
                    <th>IBAN</th>
                    <th>Amount</th>
                    <th>Approval</th>
                </tr>
                <tr>
                    <form>
                        <td>20.01.2015</td>
                        <td>xxxx xxxx</td>
                        <td>+xxx.xxx</td>
                        <td><input class="barbtn" type="submit" value="confirm"/></td>
                        <input type="hidden" name="iban" value="">
                    </form>
                </tr>
                <tr>
                    <form>
                        <td>20.01.2015</td>
                        <td>xxxx xxxx</td>
                        <td>+xxx.xxx</td>
                        <td><input class="barbtn" type="submit" value="confirm"/></td>
                        <input type="hidden" name="iban" value="">
                    </form>
                </tr>
                <tr>
                    <form>
                        <td>20.01.2015</td>
                        <td>xxxx xxxx</td>
                        <td>+xxx.xxx</td>
                        <td><input class="barbtn" type="submit" value="confirm"/></td>
                        <input type="hidden" name="iban" value="">
                    </form>
                </tr>
                <tr>
                    <form>
                        <td>20.01.2015</td>
                        <td>xxxx xxxx</td>
                        <td>+xxx.xxx</td>
                        <td><input class="barbtn" type="submit" value="confirm"/></td>
                        <input type="hidden" name="iban" value="">
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>