<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <title>EasyBanking-Transaction History</title>
</head>
<body>
<div class="transhis">
    <div class="widw">
        <div class="titbg"><span>Transaction History</span></div>
    <pre>
        <span>Zhou Qunjie</span>
        IBAN: <span>xxxx xxxx</span>
        CurrentBalance: <span>xxxx.xx</span>
    </pre>
    <table>

        <tr>
            <th>Transaction Date</th>
            <th>IBAN</th>
            <th>Amount</th>

        </tr>

        <tr>
            <td>20.01.2015</td>
            <td>xxxx xxxx</td>
            <td>+xxx.xxx</td>
        </tr>
        <tr>
            <td>20.01.2015</td>
            <td>xxxx xxxx</td>
            <td>+xxx.xxx</td>
        </tr>
        <tr>
            <td>20.01.2015</td>
            <td>xxxx xxxx</td>
            <td>+xxx.xxx</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>


    </table>

</div>
</div>
</div>

</body>
</html>