<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

     <h1>Transaction Overview</h1>

        <pre>
        <b>CurrentBalance</b>         <span>xxx</span>
        <b>Date</b>                   <span>Amount</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>
         20.01.2015            <span>123</span>

        </pre>
    <form class="viewtrans"><input class="barbtn" type="submit" value="View/Export"/>
    </form>
</div>

</body>
</html>